<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477243720323-dpq2c3e58cphm57tnbf1dqbfo42779kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477243720323-dpq2c3e58cphm57tnbf1dqbfo42779kr</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjQ85rDy3zq9JNz1s84FWhA2Rlt8niEI</string>
	<key>GCM_SENDER_ID</key>
	<string>477243720323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-74b76</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-74b76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477243720323:ios:4005dfbc7210f60d0cd1b6</string>
</dict>
</plist>